<h1>minyl</h1>

    <% if logged_in? %>
    <h2>Welcome back</h2>

<header>    
    <a href="/add_records">Add to your collection</a> 

    <a href="/edit_top_five">Edit Top 5</a>

    <a href="/edit_collection">Edit Collection</a>

    <a href="/edit_arrival">Edit no.1 Monthly Arrival</a></header>

    <form action="/sessions" method= "POST">
        <input type="hidden" name="_method" value="delete">

        <button>Logout</button>
    </form>
</header>

<section id="myCollection">  
    <div class="collection">

        <h2>My Collection</h2>

        <% records.each do |vinyl| %>

            <h3><%= vinyl['artist_name']  %>  <%= vinyl['album_name'] %></h3>
            <img src="<%= vinyl['img_url'] %>" alt="">

        <% end %>

    </div>
</section>  

<section id="myTop5">
    <div class="top5">

        <h2>My Top 5</h2>

        <% top_5.each do |fav| %>

        <div>
            <h3><%= fav['artist_name'] %> <%= fav['album_name'] %></h3>
            <img src="<%= fav['img_url'] %>" alt="">
        </div>

            <form action="remove_from_top_5" method="POST">

                <input type="hidden" name="fav_id" value="<%= fav['id'] %>">

                <button>X</button>

            </form>
        <% end %>

    </div>
</section>

<section id="noArrival">
    <div class="arrival">

        <h2>My no.1 Arrival This Month</h2>

    <% else %>

<header>
        <a href="/users/sign_up">Sign Up</a>
        <a href="/login">Log In</a>

    <% end %>
</header>
